In [2]:
pip install selenium

Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in e:\anaconda\lib\site-packages (from selenium) (1.25.8)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Note: you may need to restart the kernel to use updated packages.

In [81]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [82]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)

In [62]:
url = 'https://www.wunderground.com/history/monthly/in/kolkata/VEBA/date/2016-1'

driver.get(url)

In [63]:
driver.implicitly_wait(10)

# //*[@id="inner-content"]/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]/table/tbody/tr/td[4]/table

that_ele = driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]/table/tbody/tr/td[4]/table')

In [64]:
text = that_ele.text

In [65]:
text

'Max Avg Min\n100 78.3 39\n94 76.7 42\n94 82.3 54\n100 76.7 39\n94 80.0 47\n94 75.7 39\n94 76.8 39\n94 78.0 51\n94 70.2 35\n83 61.4 32\n88 66.9 34\n94 70.8 36\n94 72.6 39\n94 72.5 36\n94 70.1 37\n100 67.1 37\n94 72.1 39\n94 66.0 34\n94 71.2 42\n94 89.4 73\n94 80.8 57\n100 76.0 46\n94 73.4 41\n94 69.6 40\n94 68.6 36\n94 67.5 34\n94 75.7 50\n94 78.3 54\n94 73.4 42\n100 67.8 32\n100 71.9 37'

In [66]:
# table = text.splitlines()

driver.quit()

In [35]:
# dummy1 = float(table[1].split(' ')[1])

In [37]:
def get_days_in_month(year , month):
    if(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
        return 31
    elif((month == 2) and (year%4 == 0) or ((year%100 == 0) and (year%400 == 0))):
        return 29
    elif(month == 2):
        return 28
    else:
        return 30

In [41]:
# print(get_days_in_month(2017 , 2))

df = pd.DataFrame()

In [45]:
year = 2016
month = 1

month_days = get_days_in_month(year , month)

date_list_month = []

for i in range(1,month_days+1):
    d = str(i)
    m = str(month)
    if len(d)==1:
        d = '0' + d
    if len(m)==1:
        m = '0' + m
    date = d + '-' + m + '-'+ str(year)
    date_list_month.append(date)
    
print(date_list_month)

['01-01-2016', '02-01-2016', '03-01-2016', '04-01-2016', '05-01-2016', '06-01-2016', '07-01-2016', '08-01-2016', '09-01-2016', '10-01-2016', '11-01-2016', '12-01-2016', '13-01-2016', '14-01-2016', '15-01-2016', '16-01-2016', '17-01-2016', '18-01-2016', '19-01-2016', '20-01-2016', '21-01-2016', '22-01-2016', '23-01-2016', '24-01-2016', '25-01-2016', '26-01-2016', '27-01-2016', '28-01-2016', '29-01-2016', '30-01-2016', '31-01-2016']

In [46]:
df['Date'] = date_list_month

In [54]:
avg_hum = []

# dummy1 = float(table[1].split(' ')[1])

for i in range(1,month_days+1):
    avg_hum.append(float(table[i].split(' ')[1]))
    
print(avg_hum)

[78.3, 76.7, 82.3, 76.7, 80.0, 75.7, 76.8, 78.0, 70.2, 61.4, 66.9, 70.8, 72.6, 72.5, 70.1, 67.1, 72.1, 66.0, 71.2, 89.4, 80.8, 76.0, 73.4, 69.6, 68.6, 67.5, 75.7, 78.3, 73.4, 67.8, 71.9]

In [55]:
df['RH'] = avg_hum

In [56]:
df

          Date    RH
0   01-01-2016  78.3
1   02-01-2016  76.7
2   03-01-2016  82.3
3   04-01-2016  76.7
4   05-01-2016  80.0
5   06-01-2016  75.7
6   07-01-2016  76.8
7   08-01-2016  78.0
8   09-01-2016  70.2
9   10-01-2016  61.4
10  11-01-2016  66.9
11  12-01-2016  70.8
12  13-01-2016  72.6
13  14-01-2016  72.5
14  15-01-2016  70.1
15  16-01-2016  67.1
16  17-01-2016  72.1
17  18-01-2016  66.0
18  19-01-2016  71.2
19  20-01-2016  89.4
20  21-01-2016  80.8
21  22-01-2016  76.0
22  23-01-2016  73.4
23  24-01-2016  69.6
24  25-01-2016  68.6
25  26-01-2016  67.5
26  27-01-2016  75.7
27  28-01-2016  78.3
28  29-01-2016  73.4
29  30-01-2016  67.8
30  31-01-2016  71.9

In [60]:
driver.close()

WebDriverException: Message: chrome not reachable
  (Session info: chrome=83.0.4103.61)

In [77]:
dummy_avg_rh = []
dummy_date_list_month = []

# https://www.wunderground.com/history/monthly/in/kolkata/VEBA/date/2016-1

In [68]:
def just_mention_year(year):
    for month in range(1,13):
        url = 'https://www.wunderground.com/history/monthly/in/kolkata/VEBA/date/' + str(year) + '-' + str(month)
        driver.get(url)
        driver.implicitly_wait(10)
        that_ele = driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]/table/tbody/tr/td[4]/table')        
        driver.quit()
        driver.implicitly_wait(1)
        text = that_ele.text        
        table = text.splitlines()        
        days_in_that_month = get_days_in_month(year , month)
        # avg_hum = []
        # dummy1 = float(table[1].split(' ')[1])
        for i in range(1,day_in_that_month + 1):
            dummy_avg_rh.append(float(table[i].split(' ')[1]))
            d = str(i)
            m = str(month)
            if len(d)==1:
                d = '0' + d
            if len(m)==1:
                m = '0' + m
            date = d + '-' + m + '-'+ str(year)
            dummy_date_list_month.append(date)

In [ ]:
just_mention_year(2016)

In [ ]:
year = 2016
month = 1

url = 'https://www.wunderground.com/history/monthly/in/kolkata/VEBA/date/' + str(year) + '-' + str(month)
driver.get(url)
driver.implicitly_wait(10)
that_ele = driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]/table/tbody/tr/td[4]/table')        
# driver.quit()
# driver.implicitly_wait(1)
text = that_ele.text      
driver.quit()
table = text.splitlines()        
days_in_that_month = get_days_in_month(year , month)
# avg_hum = []
# dummy1 = float(table[1].split(' ')[1])
for i in range(1,day_in_that_month + 1):
    dummy_avg_rh.append(float(table[i].split(' ')[1]))
    d = str(i)
    m = str(month)
    if len(d)==1:
        d = '0' + d
    if len(m)==1:
        m = '0' + m
    date = d + '-' + m + '-'+ str(year)
    dummy_date_list_month.append(date)

In [154]:
year = 2018
month = 8

url = 'https://www.wunderground.com/history/monthly/in/kolkata/VEBA/date/' + str(year) + '-' + str(month)
driver.get(url)
driver.implicitly_wait(10)
# that_ele = driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]/table/tbody/tr/td[4]/table')        
# # driver.quit()

In [155]:
that_ele = driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]/table/tbody/tr/td[4]/table')        
# driver.quit()
# driver.implicitly_wait(1)
text = that_ele.text      
# driver.quit()
table = text.splitlines()        
days_in_that_month = get_days_in_month(year , month)
# avg_hum = []
# dummy1 = float(table[1].split(' ')[1])
for i in range(1,days_in_that_month + 1):
    dummy_avg_rh.append(float(table[i].split(' ')[1]))
    d = str(i)
    m = str(month)
    if len(d)==1:
        d = '0' + d
    if len(m)==1:
        m = '0' + m
    date = d + '-' + m + '-'+ str(year)
    dummy_date_list_month.append(date)

In [159]:
df = pd.DataFrame()

In [157]:
len(dummy_date_list_month)

974

In [158]:
len(dummy_avg_rh)

974

In [160]:
df['Dates'] = dummy_date_list_month

In [161]:
df['RH'] = dummy_avg_rh

In [162]:
df

          Dates    RH
0    01-01-2016  78.3
1    02-01-2016  76.7
2    03-01-2016  82.3
3    04-01-2016  76.7
4    05-01-2016  80.0
..          ...   ...
969  27-08-2018  90.5
970  28-08-2018  90.2
971  29-08-2018  89.5
972  30-08-2018  85.2
973  31-08-2018  91.6

[974 rows x 2 columns]

In [164]:
df.to_csv (r'E:\RH-2016_2018-8_dataframe.csv' , index=False)

In [1]:
import pandas as pd

In [2]:
hey = pd.read_csv('E:\google-insta-100-captions.csv')

In [3]:
hey

                                             CAPTIONS
0   üéì Hats off to the class of 2020, whose resilie...
1   Dear Class of 2020: A Message from Alicia Keys...
2   Making their internet debut, the Spring issue ...
3   To celebrate Global Accessibility Awareness da...
4   Android presents: Paul + Voice Access\n\nSay h...
..                                                ...
95  On this day in 1960, four Black college studen...
96  The Most Searched: A Celebration of Black Hist...
97  Sending off a wish to a brighter future. üèÆThis...
98  Turn up your volume to hear the sound of orcas...
99  Around the world, cultural heritage sites are ...

[100 rows x 1 columns]